# local terraform dirs
.terraform/

*unattend.xml

crash.log
crash.*.log

configuration/ipinfo*
configuration/collections

*ansible_dependencies*
*ansible_collections*
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
*secret*
